<?xml version="1.0"?>
<hivemq xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <listeners>
        <tls-tcp-listener>
            <port>8883</port>
            <bind-address>0.0.0.0</bind-address>
            <tls>
            <keystore>
                <path>/certs/hivemq.jks</path>
                <password>storepass</password>
                <private-key-password>storepass</private-key-password>
            </keystore>
            <client-authentication-mode>NONE</client-authentication-mode>
        </tls>
        </tls-tcp-listener>
    </listeners>

</hivemq>
